<%- include('partials/header', { title: "Add Todo" }) %>
  <h1>Add New Todo</h1>

  <form action="/todos" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>

    <label for="dateTime">Date & Time:</label>
    <input type="datetime-local" name="dateTime" id="dateTime" required>

    <button type="submit">Add Todo</button>
  </form>

  <a href="/todos">Back to List</a>
</body>
</html>
